body{
  font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header{
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}

main{
    width: 80%;
    margin: auto;
}

.projetos{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

a{
    display: inline-block;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover{
    background-color: #1d4ed8;
}
